:root {
  --small-dimension: 10vw;
  --large-dimension: 100%;
}

#desc {
  position : absolute;
  top: 5px;
  left: 5px;
}

.min-well{
  min-width: 50vw;
}


.controll-box{
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

.expand-child-past-parent {
  width: 90vw;
  position: relative;
  left: calc(-38vw + 45%);
}

.expand-child-marginally-past-parent {
  width: 70vw;
  position: relative;
  left: calc(-25vw + 35%);
}

.canvas-box{
  height: 50%;
}

.row-bottom-margin {
  margin-bottom: 0px;
}

.row-top-margin {
  margin-top: 30px;
}

.border-right {
  border-right: 1px solid #A9A9A9;
  height: 220px;
}

.border-bottom {
  border-bottom: 1px dashed black;
  width: 100%;
}

.border-middle {
  background-image: linear-gradient(to bottom, black 40%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  height: 180px;
}

.center-divs{
  position: absolute;
  left: 5%;
}

.green-line{
  border: 3px solid green;
}

.largeControlls, .mediumControlls, .smallControlls{
  display:block; /*default behavior*/
}

/*hide div on all screens with 700 and higher width*/
@media only screen and (max-width: 1500px) {
  .largeControlls{
    display:none;
  }

  /*.expand-child-marginally-past-parent {*/
  /*  width: 100vw;*/
  /*  position: relative;*/
  /*  left: calc(-50vw + 50%);*/
  /*}*/


  .box{
    position: relative;
    width: 88vw;
    left: calc(-25vw + 35%);
  }

  .center-divs{
    position: absolute;
    left: 0%;
    right: 0vw;
  }
}

/*hide div on all screens with 700 and higher width*/
@media only screen and (max-width: 1050px) {
  .expand-child-marginally-past-parent {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  .box{
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }
}

/*hide div on all screens with 700 and lower width*/
@media only screen and (max-width: 780px) {
  .mediumControlls {
    display:none;
  }

  .border-right {
    border-right: 1px solid #A9A9A9;
    height: var(--small-dimension);
  }

  .border-bottom {
    border-bottom: 1px dashed black;
    width: 100%;
  }

  .border-middle {
    background-image: linear-gradient(to bottom, black 40%, rgba(255, 255, 255, 0) 0%);
    background-position: left;
    background-size: 1px 10px;
    background-repeat: repeat-y;
    height: var(--small-dimension);
  }

  .expand-child-marginally-past-parent {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  .row-top-margin { margin-top: var(--small-dimension); }

  .controll-box{
    font-size: 4vw;
  }
}

/*hide div on all screens with 700 and higher width*/
@media only screen and (min-width: 780px) {
  .smallControlls{
    display:none;
  }
}